.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #ffffff;
  }
  
  .top {
    flex: 0;
    border-bottom: solid 1px var(--adm-border-color);
  }
  
  .body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
